<div class="container-fluid mt-5 mx-auto w-75">
  <h2>List of Employees</h2>
  <a routerLink="employee/add/0" class="btn btn-primary mb-4 mt-4"
    >Add New Employee</a
  >
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td><a [routerLink]="['employee/edit', employee.id]">Edit</a></td>
        <!-- <td><button (click)="onDelete(employee.id)">X</button></td> -->
      </tr>
    </tbody>
  </table>
</div>
